# Data Science Tools and Ecosystem

In this notebook, datascience tools and ecosystem are summarized.

** Objectives:
- Popular languages Data Scientists use
- Popular Data Science Libraries
- Data Science tools
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. VBA
5. Lulie

Some of the popular data science libraries are:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly

|Data Science Tools|
|---|
|Jupiter Notebook|
|Pytorch|
|MLFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# this is a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

In [4]:
# this will convert 200 minutes into hours

In [5]:
200/60

3.3333333333333335

## Author
Raul Amavisca